<%- include("partials/header") %>

<div class="container">
    <h1>Edit Comment</h1>
    <form action="/movies/<%= movie._id %> /comments/<%= comment._id %>?_method=PUT" method="post">
        <div class="form-group">
            <label for="text">Comment Text</label>
            <textarea name="text" id="text" class="form-control" rows="8" cols="80" placeholder="Comment text here..." required><%= comment.text %></textarea>
        </div>
        <button type="submit" class="btn btn-primary"> Submit Comment</button>
    </form>
</div>

<%- include("partials/footer") %>