<%- include('partials/header') %>

<div class="container">
    <div class="row mt-4">
        <div class="col-6 image-container">
            <img src="<%= foundMovie.image %>" alt="Movie Poster">
        </div>
        <div class="col-6 details-container">
            <h1><%= foundMovie.title %></h1>
            <p><%= foundMovie.description %></p>
            <table>
                <tbody>
                    <tr>
                        <th scope="row">Director:</th>
                        <td><%= foundMovie.director %></td>
                    </tr>
                    <tr>
                        <th scope="row">Date:</th>
                        <td><%= foundMovie.date %></td>
                    </tr>
                    <tr>
                        <th scope="row">Genre:</th>
                        <td><%= foundMovie.genre %></td>
                    </tr>
                    <tr>
                        <th scope="row">Color:</th>
                        <td><%= foundMovie.color %></td>
                    </tr>
                </tbody>
            </table>
            <% if(user && user.username === foundMovie.owner.username) { %>
                <a href="/movies/<%= foundMovie._id %>/edit">
                    <button class="btn btn-outline-info btn-lg btn-block mb-2">Edit</button>
                </a>
                <form action="/movies/<%= foundMovie._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-outline-danger btn-lg btn-block">Delete</button>
                </form>
            <% } %>
        </div>
    </div>
    <div class="row">
        <a href="/movies/<%= foundMovie._id %>/comments/new" class="col-3">
            <button class="btn btn-success btn-lg mt-3 mb-4">Add Comment</button>
        </a>
        <div class="col-2">
            <% if (user && foundMovie.upvotes.indexOf(user.username) >= 0) { %>
                <button id="upvote_btn" class="btn btn-success btn-lg mt-3"> + </button>
            <% } else if (user) { %>
                <button id="upvote_btn" class="btn btn-outline-success btn-lg mt-3"> + </button>
            <% } %>
            <% if(user){ %>
                <span id="score" class="mt-1 mx-2"> <%= foundMovie.upvotes.length - foundMovie.downvotes.length %> </span>
            <% } %>
            <% if (user && foundMovie.downvotes.indexOf(user.username) >= 0) { %>
                <button id="downvote_btn" class="btn btn-danger btn-lg mt-3"> - </button>
            <% } else if (user) { %>
                <button id="downvote_btn" class="btn btn-outline-danger btn-lg mt-3"> - </button>
            <% } %>
        </div>
    </div>
    <% comments.forEach((comment) => { %>
        <div class="row comment-container py-2 border">
            <div class="col-2 my-auto">
                <%= comment.user.username %>
            </div>
            <div class="col-2 my-auto d-flex flex-wrap justify-content-center">
                <% if(user && user.username === comment.user.username) { %>
                <a class="btn btn-sm btn-warning w-75 p-0 my-1" href="/movies/<%= foundMovie._id %>/comments/<%= comment._id %>/edit">
                    Edit
                </a>
                <form class="w-75 py-1" action="/movies/<%= foundMovie._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                    <button class="btn btn-sm btn-danger w-100 p-0">
                        Delete
                    </button>
                </form>
                <% } %>
            </div>
            <div class="col-8 my-auto">
                <%= comment.text %>
            </div>
        </div>
    <% }) %>
</div>
<script>
    var movieId = "<%- foundMovie._id %>"
</script>
<script src="/js/movies_show.js"></script>

<%- include('partials/footer') %>
